<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucassmith.quantumreporting" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.NewReportActivity"
            android:label="@string/title_activity_new_report"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.TestResultsActivity"
            android:label="@string/title_activity_test_results"
            android:screenOrientation="portrait"
            android:parentActivityName=".UI.LensCountActivity">
        </activity>
        <activity
            android:name=".UI.TestSelectionActivity"
            android:label="@string/title_activity_test_selection"
            android:parentActivityName=".UI.NewReportActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lucassmith.quantumreporting.UI.NewReportActivity" />
        </activity>
        <activity
            android:name=".UI.LensCountActivity"
            android:label="@string/title_activity_lens_count"
            android:parentActivityName=".UI.TestSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lucassmith.quantumreporting.UI.TestSelectionActivity" />
        </activity>
    </application>

</manifest>
